/*
Theme Name: Alterme Training
Description: A <a href='http://codex.wordpress.org/Child_Themes'>Child Theme</a> for the Enfold Wordpress Theme. If you plan to do a lot of file modifications we recommend to use this Theme instead of the original Theme. Updating will be much easier then.
Version: 1.0
Author: Kriesi
Author URI: http://www.kriesi.at
Template: enfold
*/



/*Add your own styles here:*/

#loginform-wrapper, #top form {
    width: 300px;
    max-width: 300px;
    margin: 3rem auto;
    
}
#loginform-wrapper h1 {
    font-weight: 400;
    color: #01a5a5;
}
#loginform-wrapper .login-submit {
    text-align: center;
}
#loginform-wrapper .login-submit #wp-submit {
    background-color: #01a5a5;
    color: #ffffff;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 15px;
    font-size: 16px;
}
#loginform-wrapper .lostpw {
    text-align: center;
}
#loginform-wrapper .lostpw  a {
    color: #c17400;
}
/* hide elements on course page */
.ld-course-status-segment.ld-course-status-seg-status,
.ld-course-status-segment.ld-course-status-seg-price.ld-course-status-mode-free,
.ld-course-status-segment.ld-course-status-seg-price.ld-course-status-mode-closed {
    display: none;
}

.learndash-wrapper .ld-login-modal {
    margin: 38% 50% 20px;
}
.learndash-wrapper .ld-login-modal .ld-login-modal-register {
        display: none;
}
.learndash-wrapper .ld-modal.ld-can-register .ld-modal-closer {
    color: inherit;
}
#menu-item-search {
    display: none !important;
  }
#wp-admin-bar-search {
    display: none;
}
.ld-focus-main ul, 
.ld-focus-main ol {
    list-style: inherit;
}